fastapi
uvicorn[standard]
python-dotenv
cryptography
slowapi
PyJWT
SQLAlchemy
asyncpg

groq
pandas
fpdf2
xlsxwriter

pydantic
sqlparse
regex
sqlglot
pymysql

psycopg2-binary
httpx
requests
anyio

orjson
typing-extensions
click
pytest

# Semantic Search & Embeddings
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
faiss-cpu
numpy
sentence-transformers
